<html layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<!--layout 은회원가입 상단바 임으로 참고하자  -->
  <link rel="stylesheet" type="text/css"  th:href="@{/style.css}">
  <div class="draggable"></div>

  <script layout:fragment="script" type='text/javascript'>
      const draggableElement = document.querySelector('.draggable');
      let isDragging = false;
      let offsetX = 0;
      let offsetY = 0;

      draggableElement.addEventListener('mousedown', function(event) {
        isDragging = true;
        offsetX = event.clientX - draggableElement.getBoundingClientRect().left;
        offsetY = event.clientY - draggableElement.getBoundingClientRect().top;
      });

      document.addEventListener('mousemove', function(event) {
        if (isDragging) {
          const x = event.clientX - offsetX;
          const y = event.clientY - offsetY;
          draggableElement.style.left = x + 'px';
          draggableElement.style.top = y + 'px';
        }
      });

      document.addEventListener('mouseup', function() {
        isDragging = false;
      });
  </script>
</html>