<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
  <div class="draggable"></div>

  <nav class='title'>
  <h1 class='title_T'>logo</h1>
  <hr>
  <ul class="menu">
    <li>
      <a th:href="@{/question/list}">Question</a>
    </li>
    <li>
      <a href="#">menu2</a>
      <ul class="submenu">
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>
      </ul>
    </li>
    <li>
      <a href="#">menu3</a>
      <ul class="submenu">
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>

      </ul>
    </li>
    <li>
      <a href="#">menu4</a>
      <ul class="submenu">
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>
      </ul>
    </li>
    <li>
      <a href="#">menu5</a>
      <ul class="submenu">
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>
        <li><a href="#">2depth</a></li>
      </ul>
    </li>
  </ul>
</nav>

<div class="mainimg">
  <img src="https://burst.shopifycdn.com/photos/arts-crafts-in-blue.jpg"><img>
  <div>Lorem ipsum dolorsit amet</div>
</div>

<div class='con_Title'>
  <h1>con-title</h1>
  <section>
    <article>
      <img src="https://burst.shopifycdn.com/photos/desk-setup-with-motivational-poster.jpg?width=925&format=pjpg&exif=1&iptc=1">
      <h2>Here comes text</h2>
    </article>
    <article>
      <img src="https://burst.shopifycdn.com/photos/laptop-computer-on-wooden-table.jpg?width=925&format=pjpg&exif=1&iptc=1">
      <h2>Here comes text</h2>
    </article>
    <article>
      <img src="https://burst.shopifycdn.com/photos/writing-sationary.jpg?width=925&format=pjpg&exif=1&iptc=1">
      <h2>Here comes text</h2>
    </article>
    <article>
      <img src="https://burst.shopifycdn.com/photos/organized-pencil-holder.jpg?width=925&format=pjpg&exif=1&iptc=1">
      <h2>Here comes text</h2>
    </article>
  </section>
</div>

<div class="con_Title con2">
  <h1>con-title</h1>
  <section>
    <article>
      <h2>Here comes title</h2>
      <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi dolore itaque rem labore eaque veritatis sequi dicta, praesentium minus natus nam expedita, vitae tempore tenetur eveniet consequatur. Explicabo, labore repellendus.</h5>
      <img src="https://burst.shopifycdn.com/photos/lenses-lattes.jpg?width=925&format=pjpg&exif=1&iptc=1">
      <a href="#">view more+</a>
    </article>
    <article>
      <h2>Here comes title</h2>
      <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi dolore itaque rem labore eaque veritatis sequi dicta, praesentium minus natus nam expedita, vitae tempore tenetur eveniet consequatur. Explicabo, labore repellendus.</h5>
      <img src="https://burst.shopifycdn.com/photos/iced-latte-at-coffee-shop-window.jpg?width=925&format=pjpg&exif=1&iptc=1">
      <a href="#">view more+</a>
    </article>
  </section>
</div>

<div class="con_Title con3">
  <h1>con-title</h1>
  <section>
    <article>
      <h2>Here comes tile</h2>
      <img src="https://burst.shopifycdn.com/photos/blush-pink-stationary-and-decor.jpg?width=925&format=pjpg&exif=1&iptc=1%22" alt="">
      <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus</h5>
    </article>
    <article>
      <h2>Here comes tile</h2>
      <img src="https://burst.shopifycdn.com/photos/photo-of-a-desk-and-white-corner-seating-area.jpg?width=925&format=pjpg&exif=1&iptc=1" alt="">
      <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus</h5>
    </article>
    <article>
      <h2>Here comes tile</h2>
      <img src="https://burst.shopifycdn.com/photos/photo-of-a-white-and-beige-home-office.jpg?width=925&format=pjpg&exif=1&iptc=1" alt="">
      <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus</h5>
    </article>
  </section>
</div>

<nav class="title downtitle">
  <ul class="menu">
    <li><a href="#">b-menu1</a></li>
    <li><a href="#">b-menu2</a></li>
    <li><a href="#">b-menu3</a></li>
    <li><a href="#">b-menu4</a></li>
  </ul>
</nav>
</div>
</body>
<script layout:fragment="script" type='text/javascript'>
      const draggableElement = document.querySelector('.draggable');
      let isDragging = false;
      let offsetX = 0;
      let offsetY = 0;

      draggableElement.addEventListener('mousedown', function(event) {
        isDragging = true;
        offsetX = event.clientX - draggableElement.getBoundingClientRect().left;
        offsetY = event.clientY - draggableElement.getBoundingClientRect().top;
      });

      document.addEventListener('mousemove', function(event) {
        if (isDragging) {
          const x = event.clientX - offsetX;
          const y = event.clientY - offsetY;
          draggableElement.style.left = x + 'px';
          draggableElement.style.top = y + 'px';
        }
      });

      document.addEventListener('mouseup', function() {
        isDragging = false;
      });
  </script>
</html>